<div class="container">
  <h1>All Support Requests</h1>

  <%= form_tag search_support_request_path(:search) do %>
   <%= text_area_tag :search_item %>
   <%= submit_tag "Search" %>
  <% end %>


  <table class="table table-striped">
    <thead>
      <th>Name</th>
      <th>Email</th>
      <th>Department</th>
      <th>Message</th>
    </thead>

    <tbody>
      <% @support_requests.each do |x| %>
        <tr>
          <td><%= x.name %></td>
          <td><%= x.email %></td>
          <td><%= x.department %></td>
          <td><%= x.message %></td>
          <td>
            <%= link_to "View", support_request_path(x) %>
            <%= link_to "Edit", edit_support_request_path(x) %>
            <%= link_to "Delete", support_request_path(x), method: :delete, data: {confirm: "Are you sure you want to delete this support request?"} %>
            <% if x.status == false %>
              <%= link_to "Not Done", update_support_request_path(x), class: "btn not-done"%>
            <% else %>
              <%= link_to "Done", update_support_request_path(x), class: "btn done" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>


</div>


<%= paginate @support_requests %>
